@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #ffffff;
}

/* บังคับใช้ธีมสว่างเป็นค่าเริ่มต้น */
html {
  color-scheme: light;
}

[data-theme="light"] {
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-kanit);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kanit), sans-serif;
}

/* บังคับใช้ฟอนต์ Kanit */
* {
  font-family: var(--font-kanit), 'Kanit', sans-serif !important;
}

/* max-w-md mx-auto p-6 */
.container {
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}
